<nav class="main-menu">
  <div class="container">
    <div class="logo">
      <a routerLink="/" class="menu-link">
        <img
          src="/assets/images/header/hundyra_logo.png"
          alt="Hundyra - Hundträning och barkborresök med hund"
        />
      </a>
    </div>
    <div id="menu-links" [class.show]="isMenuVisible">
      <a routerLink="/" class="menu-link" (click)="toggleMenu()">Hem</a>
      <a routerLink="/barkborrehund" class="menu-link" (click)="toggleMenu()"
        >Barkborrehund</a
      >
      <a routerLink="/om-ninja" class="menu-link" (click)="toggleMenu()"
        >Om Ninja</a
      >
      <a routerLink="/vi-i-media" class="menu-link" (click)="toggleMenu()"
        >Vi i media</a
      >
      <a routerLink="/kontakt" class="menu-link" (click)="toggleMenu()"
        ><button class="btn-menu-icon">Kontakta mig</button></a
      >
    </div>
    <button
      type="button"
      class="icon"
      (click)="toggleMenu()"
      aria-label="Öppna meny"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="16"
        width="16"
        viewBox="0 0 448 512"
      >
        <path
          d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
        />
      </svg>
    </button>
  </div>
</nav>
