<section class="content-section">
    <div class="container">
      <article class="info-box">
        <header class="contact">
          <p>Varmt välkommen att kontakta mig för att veta mer om våra tjänster!</p>
          <p>För dig som vill boka, <a routerLink="/villkor">läs köpvillkoren här.</a></p>
        </header>
        <aside class="contact-content">
          <a href="mailto:info@hundyra.se"><button class="theme-btn" (click)="onThemeButtonClick('Email')">Skicka email</button></a>
          <a href="tel:+46793551887"><button class="light-btn" (click)="onThemeButtonClick('Call')">Ring mig</button></a>
        </aside>
      </article>
    </div>
  </section>