<section class="content-section">
    <div class="container">
      <article class="info-box">
        <header>
          <h1>Omnämnt i media</h1>
        </header>  
        <section class="text-content">
          <h2 class="media">P4 Sjuhärad gjorde ett reportage om oss i radion</h2>
          <p>Du kan lyssna på hela reportaget här: <a href="https://www.sverigesradio.se/artikel/hunden-hybris-unika-nos-har-hittar-hon-granbarkborrarna-voff" target="_blank">P4 Sjuhärad</a></p>
          <p>Nedan följer en kortare version av reportaget:</p>
          <p><iframe title="Inbäddat innehåll från Sveriges Radio" width="100%" height="150" src="https://sverigesradio.se/embed/publication/8675624" frameborder="0"></iframe></p>
          </section>
          <section class="text-content">
            <h2 class="media">SVT Väst gjorde ett TV-inslag om oss</h2>
            <p>Du kan titta på hela reportaget här: <a href="https://www.svt.se/nyheter/lokalt/vast/hunden-hybris-luktar-sig-till-granbarkborrarna-i-skogen" target="_blank">SVT Väst</a></p>
            </section>
      </article>
    </div>
  </section>
