<section class="content-section">
  <div class="container">
    <article class="info-box">
      <header>
        <h1>Köpvillkor</h1>
      </header>
      <section class="text-content">
        <h3>Priser</h3>
        <p>Det priset som anges för produkten är det pris som gäller, alla priser är inklusive moms. Vid resa tillkommer
          milersättning om 30:-/mil.</p>
      </section>
      <section class="text-content">
        <h3>Betalning</h3>
        <p>
          Vid bokning av kurs, privatträning eller beteendeutredning gäller alltid förskottsbetalning. Vid hembesök för
          privatträning eller beteendeutredning tillkommer milersättning (a 30:-/mil) räknat från Skephult, Marks kommun
          till den plats vi kommit överens att ses på. För granbarkborresökuppdrag lämnas en offert för godkännande
          innan påbörjat arbete, som omvandlas till faktura efter utfört arbete. Eventuella justeringar kan komma att
          göras beroende på tidsåtgång för arbetet.
        </p>
      </section>
      <section class="text-content">
        <h3>Ångerrätt och avbokning</h3>
        <p>
          I enlighet med svensk lagstiftning kring distansköp kan du ångra ditt köp inom 2 veckor från det att du köpt
          kurs eller privatträning
        </p>
        <p>
          Ångerrätten träder i kraft dagen efter att du köpt din produkt. För privatträning/beteendeutredning räknas
          ett köp när vi kommit överens om en tid att ses. Om ångerrättens sista dag infaller på en lördag eller sön-
          helgdag så förlängs ångerrätten till nästkommande vardag.
        </p>
        <p>
          Om du avbokar din produkt inom 14 dagar har du rätt att få tillbaka dina pengar under förutsättning att det
          är minst 14 dagar kvar till att du öppnar produkten. Du får tillbaka hela beloppet.
        </p>
        <p>
          Om du vill ångra ditt köp gäller följande: Skicka ett mail till info&#64;hundyra.se inom 14 dagar och bifoga
          dina
          personuppgifter samt vilken produkt avbokningen avser. Du kan även använda Konsumentverkets blankett för
          ångerrätt, <a href="https://publikationer.konsumentverket.se/kontrakt-och-mallar/angerblankett"
            target="_blank" rel="noopener noreferrer">se här</a>
        </p>
        <p>Avbokning efter utgången ångerrätt medges ej</p>
      </section>
      <section class="text-content">
        <h3>Övriga villkor</h3>
        <p>
          Om du närvarar vid fysisk kurs, föreläsning eller annan träning med din hund gäller strikt hundägaransvar <a
            href="https://www.riksdagen.se/sv/dokument-och-lagar/dokument/svensk-forfattningssamling/lag-20071150-om-tillsyn-over-hundar-och_sfs-2007-1150/"
            target="_blank" rel="noopener noreferrer">(Lag 2007: 1150)</a> din hund ska vara försäkrad och du bör ha
          hemförsäkring.
        </p>
        <p>
          Om du (eller din hund) är förhindrad att delta på kurs eller privatträning på grund av sjukdom/annan varaktig
          omständighet så kontakta mig via mail: info&#64;hundyra.se och bifoga aktuellt läkarintyg alternativt
          veterinärintyg.
        </p>
      </section>
    </article>
  </div>
</section>