<section class="content-section">
  <div class="container">
    <article class="info-box">
      <header>
        <h1>Köpvillkor</h1>
      </header>
      <section class="text-content">
        <h3>Priser</h3>
        <p>
          Pris enligt överenskommelse, alltid med moms inkluderad. Vid resa
          tillkommer milersättning om 30:-/mil eller enligt överenskommelse.
        </p>
      </section>
      <section class="text-content">
        <h3>Betalning</h3>
        <p>
          För granbarkborresökuppdrag lämnas en offert för godkännande innan
          påbörjat arbete, som omvandlas till faktura efter utfört arbete.
          Eventuella justeringar kan komma att göras beroende på tidsåtgång för
          arbetet, men sker efter överenskommelse.
        </p>
      </section>
      <section class="text-content">
        <h3>Ångerrätt och avbokning</h3>
        <p>
          I enlighet med svensk lagstiftning kring distansköp kan du ångra ditt
          köp inom 2 veckor från det att du köpt produkten
        </p>
        <p>
          Ångerrätten träder i kraft dagen efter att du köpt din produkt. För
          granbarkborresökuppdrag räknas ett köp när vi kommit överens om en
          bokad tid för uppdraget. Om ångerrättens sista dag infaller på en
          lördag eller sön- helgdag så förlängs ångerrätten till nästkommande
          vardag.
        </p>
        <p>
          Om du avbokar din produkt inom 14 dagar har du rätt att få tillbaka
          dina pengar under förutsättning att det är minst 14 dagar kvar till
          att du öppnar produkten. Du får tillbaka hela beloppet.
        </p>
        <p>
          Om du vill ångra ditt köp gäller följande: Skicka ett mail till
          hundyra&#64;gmail.com inom 14 dagar och bifoga dina personuppgifter.
          Du kan även använda Konsumentverkets blankett för ångerrätt,
          <a
            href="https://publikationer.konsumentverket.se/kontrakt-och-mallar/angerblankett"
            target="_blank"
            rel="noopener noreferrer"
            >se här</a
          >
        </p>
        <p>Avbokning efter utgången ångerrätt medges ej.</p>
      </section>
    </article>
  </div>
</section>
