$color-theme: #9a4f99;
$color-theme-hover: #7a3f79;
$color-theme-light: #EDFCFA;
$color-theme-dark: #0E153D;
$color-theme-dark-light: #50546E;
$color-dark: #080C24;
$color-white: #FFFFFF;
$color-gray-3: #EEEEEE;

$font-barlow: 'Barlow', sans-serif;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-size-button: 0.875rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-15: 0.980rem;
$font-size-16: 1rem;
$font-size-17: 1.063rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-21: 1.33rem;
$font-size-22: 1.375rem;
$font-size-24: 1.50rem;
$font-size-26: 1.625rem;

$border-radius-xsmall: 6px;
$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;

$max-width: 1110px;
$width: 100%;

// Margins
$margin: 2rem 0;
$m-margin: 0.8rem 0;
$s-margin: 0;

// Breakpoints 
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;