<section class="content-section">
  <div class="container">
    <article class="info-box">
      <header>
        <h1>Barkborresök med hund</h1>
        <h2>
          Ta hjälp av ett barkborresökekipage för att hitta angrepp från
          granbarkborren i tid
        </h2>
      </header>

      <section class="text-content">
        <p>
          Som skogsägare gäller det att ha god koll på granbarkborrarnas
          framfart för att minska sina ekonomiska förluster. I
          “Sök-och-plock”-metoden ställs höga krav på dig som skogsägaren att
          hitta alla angrepp. Det kan vara svårt och framförallt tidskrävande.
        </p>
        <p>
          Genom att anlita ett sökekipage för att hitta angrepp ger det helt
          andra förutsättningar. En utbildad hund använder sitt luktsinne för
          att lokalisera angrepp, vilket gör att den inte behöver ha några
          visuella tecken på ett pågående angrepp. Hunden kan därför hitta
          angrepp som endast är en timme gamla, även angrepp som sitter högt upp
          i granen (som kan vara omöjligt för oss att se).
        </p>
        <p>
          I juli 2022 gjorde vi vårt första kvalitetssäkringsprov hos
          SnifferDogs Sweden (nivå 2) som barkborresökekipage. I juni 2023
          utökade vi vår nivå och innehar nu högsta nivån (nivå 3).
        </p>
        <p>
          Varje år gör vi en ny funktionskontroll för att säkerhetsställa att vi
          håller hög kvalitet i vårt jobb.
        </p>
        <p>
          Jag tar emot förfrågningar i hela Sverige med utgångspunkt från
          Skephult (Marks kommun). Beroende på terräng söker vi av ca 5-10ha /
          timme.
        </p>
        <p class="text-date">
          Vår senaste funktionskontroll godkändes: 2025-06-01.
        </p>
        <p>
          Läs mer om hur vi
          <a routerLink="/barkborrehund" class="links"
            >jobbar med granbarkborresök här</a
          >
        </p>
        <p>
          Varmt välkommen att kontakta mig för mer information eller din
          bokningsförfrågan!
        </p>
      </section>

      <aside class="contact-content">
        <a href="mailto:info@hundyra.se"
          ><button class="theme-btn" (click)="onThemeButtonClick('Email')">
            Skicka email
          </button></a
        >
        <a href="tel:+46793551887"
          ><button class="light-btn" (click)="onThemeButtonClick('Call')">
            Ring mig
          </button></a
        >
      </aside>

      <figure class="img-content">
        <img
          src="/assets/images/components/barkborrehund.webp"
          alt="Barkborresök med hund"
        />
      </figure>
    </article>
  </div>
</section>
