<section class="content-section">
  <div class="container">
    <article class="info-box">
      <header>
        <h1>Om Ninja Claesson</h1>
        <h2>
          Hundinstruktör / Beteendeutredare för hund / Civil tjänstehundsförare
        </h2>
      </header>
      <figure class="img-content">
        <img
          src="assets/images/components/ninjac.webp"
          class="profile-picture"
          alt="NinjaClaesson"
        />
      </figure>
      <section class="text-content">
        <p>
          Ninja Claesson heter då jag och bor tillsammans med min sambo och vår
          hund Hybris på en liten gård, strax utanför Borås (i Marks kommun).
          Jag och min hund Hybris är certifierade inom
          <a href="/barkborrehund">granbarkborresök</a>, genom mitt företag
          Hundyra.se genomför vi granbarkborresök i hela Sverige.
        </p>
        <p>
          I hundträning är mitt absoluta största intresse olika typer av
          nosarbeten. Jag älskar att nörda ner mig i detaljer, bygga kluriga sök
          och se hur hunden tar sig an de utmaningarna. Nosen är trots allt
          hundens främsta verktyg och det är så häftigt att se dem "in action".
        </p>
        <p>
          Under sommaren 2022 blev jag och min hund Hybris färdiga med vår
          utbildning till certifierat granbarkborresökekipage hos
          <a href="https://www.snifferdogs.se/" target="_blank"
            >SnifferDogs Sweden.</a
          >
          Varje år genomför jag och Hybris en funktionskontroll hos Snifferdogs
          för att säkerhetställa vår fortsatta kompetens.
        </p>
        <p>
          Varmt välkommen att kontakta mig för mer information eller bokning!
        </p>
      </section>
      <aside class="contact-content">
        <a href="mailto:info@hundyra.se"
          ><button class="theme-btn">Skicka email</button></a
        >
        <a href="tel:+46793551887"
          ><button class="light-btn">Ring mig</button></a
        >
      </aside>
    </article>
  </div>
</section>
