<section class="privacy-section">
  <div class="container">
    <article class="text-content">
      <header>
        <h1>Sekretesspolicy</h1>
      </header>
      <section class="text-content">
        <h3>Information som vi samlar in</h3>
        <p>Vi använder Google Analytics för att samla in anonymiserad information om besökarna på vår webbplats. Denna
          information kan inkludera, men är inte begränsad till, sidvisningar, tidsåtgång på sidan, och användarbeteende
          på webbplatsen. Vi samlar inte in någon personligt identifierbar information via Google Analytics.</p>
        <p>Den information vi samlar in via Google Analytics används för att förstå hur våra besökare använder vår
          webbplats och för att förbättra deras upplevelse. Detta innefattar att analysera användarmönster för att
          förbättra webbplatsens funktionalitet och innehåll.</p>
      </section>
      <section class="text-content">
        <h3>Cookies</h3>
        <p>Vår webbplats använder cookies via Google Analytics för att spåra användare och samla in nämnd data.
        </p>
      </section>
      <section class="text-content">
        <h3>Datasäkerhet</h3>
        <p>Vi vidtar lämpliga säkerhetsåtgärder för att skydda mot obehörig åtkomst till eller obehörig ändring, avslöjande eller förstöring av data.</p>
      </section>
      <section class="text-content">
        <h3>Delning av information</h3>
        <p>Vi delar inte någon information med tredje part.</p>
      </section>
      <section class="text-content">
        <h3>Dina rättigheter</h3>
        <p>Som användare har du rätt att begära tillgång till, korrigering av, och radering av eventuella personuppgifter som vi kan ha om dig.</p>
      </section>
    </article>
  </div>
</section>