<section class="privacy-section">
  <div class="container">
    <article class="text-content">
      <header>
        <h1>Sekretesspolicy</h1>
      </header>
      <section class="text-content">
        <h3>Information som denna webbplats samlar in</h3>
        <p>
          Denna webbplats använder Google Tag Manager och genom det Google
          Analytics för att samla in anonymiserad information om besökarna på
          vår webbplats. Denna information kan inkludera, men är inte begränsad
          till, sidvisningar, tidsåtgång på sidan, och användarbeteende på
          webbplatsen. Webbplatsen samlar inte in någon personligt identifierbar
          information.
        </p>
        <p>
          Denna data används för att förstå hur du som besökare använder siten
          och för att förbättra din upplevelse. Detta innefattar att analysera
          användarmönster för att förbättra webbplatsens funktionalitet och
          innehåll.
        </p>
      </section>
      <section class="text-content">
        <h3>Cookies</h3>
        <p>
          Denna site använder cookies för Google Tag Manager och Google
          Analytics för att spåra användare och samla in ovannämnd data.
        </p>
      </section>
      <section class="text-content">
        <h3>Datasäkerhet</h3>
        <p>
          Vi vidtar lämpliga säkerhetsåtgärder för att skydda mot obehörig
          åtkomst till eller obehörig ändring, avslöjande eller förstöring av
          data.
        </p>
      </section>
      <section class="text-content">
        <h3>Delning av information</h3>
        <p>
          Nej, jag säljer eller delar inte din information med tredje part. Det
          vore konstigt ;)
        </p>
      </section>
      <section class="text-content">
        <h3>Dina rättigheter</h3>
        <p>
          Som användare har du rätt att begära tillgång till, korrigering av,
          och radering av eventuella personuppgifter som vi kan ha om dig.
        </p>
      </section>
    </article>
  </div>
</section>
