<section class="content-section">
  <div class="container">
    <article class="info-box">
      <header>
        <h1>Barkborrehund</h1>
      </header>
      <section class="text-content">
        <h2>Barkborrehund - Vad är det?</h2>
        <p>
          En “barkborrehund” är en hund som är tränad att söka och lokalisera
          angrepp från den åttatandade granbarkborren. Barkborrehunden är tränad
          att känna igen granbarkborrens egna doftsignaler för att identifiera
          angripna granar. Eftersom barkborrehunden inte tittar efter några
          visuella tecken på angrepp kan de därför hitta angrepp som endast är
          en timme gamla, även angrepp som sitter högt upp i granen (som kan
          vara omöjligt för oss att se).
        </p>
      </section>
      <section class="text-content">
        <h2>Hur går ett barkborresök till?</h2>
        <p>
          Vi söker av av din skogsfastighet efter angrepp. Angripna granar
          markeras ut på GPS och om så önskar märks även granarna ut med
          snitselband/sprayfärg. Efter vårt arbetspass får du som skogsägare ta
          del av det som hittats via en karta på Google MyMaps (med koordinater
          för angreppen) tillsammans med annan/övrig information som kan vara
          aktuell för just din skogsfastighet.
        </p>
      </section>
      <section class="text-content">
        <h2>När bör jag anlita ett barkborresökekipage?</h2>
        <p>
          När vårsvärmningen sätter igång är det dags att inventera din skog
          efter angrepp. Beroende på väder brukar det ta ca 4 veckor efter
          första angreppet till att föräldradjuren lämnar och attackerar ett
          nytt träd. Ca 8 veckor efter angreppet är den nya generationen
          barkborrar flygklara och angriper i sin tur ytterligare träd. För att
          säkerhetställa att det inte finns några barkborrar kvar i skogen är
          det lämpligt att söka av skogen mer än en gång per säsong. Om du inte
          hunnit med att göra en inventering tidigare går det att göra ett sök i
          slutet av säsongen (sensommar/tidig höst), för att få ut alla angripna
          träd för att minska fortsatt spridning.
        </p>
      </section>
      <section class="text-content">
        <h2>Anlita ett barkborresökekipage</h2>
        <p>
          Om du som skogsägare vill anlita ett barkborresökekipage är det
          otroligt viktigt att se över vilken utbildning ekipaget har. Jag och
          min hund är certifierade enligt nivå 3 (högsta nivån) och varje år gör
          vi en funktionskontroll (söker efter verkliga angrepp i
          produktionsskog) för att säkerhetsställa att vi håller hög nivå och
          kvalitet i vårt arbete.
        </p>
        <p class="text-date">
          Vår senaste funktionskontroll godkändes: 2025-06-01.
        </p>
      </section>
      <section class="text-content">
        <p>
          Varmt välkommen att kontakta mig för mer information eller din
          bokningsförfrågan!
        </p>
      </section>
      <aside class="contact-content">
        <a href="mailto:info@hundyra.se"
          ><button class="theme-btn" (click)="onThemeButtonClick('Email')">
            Skicka email
          </button></a
        >
        <a href="tel:+46793551887"
          ><button class="light-btn" (click)="onThemeButtonClick('Call')">
            Ring mig
          </button></a
        >
      </aside>
      <figure class="img-content">
        <img
          src="/assets/images/components/barkborresok.webp"
          alt="Barkborresök med hund"
        />
      </figure>
    </article>
  </div>
</section>
